# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas

 |Data Science Tools |
--------------------
VisualStudio Code  
Anaconda 
R Studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- Python
- Pandas
- SQL
- Matplotlib

## Author
Igor de Ara√∫jo Loureiro